captchaEngine="com.liferay.captcha.simplecaptcha.SimpleCaptchaImpl"
createAccountCaptchaEnabled=B"true"
maxChallenges=I"1"
messageBoardsEditCategoryCaptchaEnabled=B"false"
messageBoardsEditMessageCaptchaEnabled=B"false"
reCaptchaNoScriptURL="https://www.google.com/recaptcha/api/fallback?k\="
reCaptchaPrivateKey=""
reCaptchaPublicKey=""
reCaptchaScriptURL="https://www.google.com/recaptcha/api.js"
reCaptchaVerifyURL="https://www.google.com/recaptcha/api/siteverify"
sendPasswordCaptchaEnabled=B"true"
simpleCaptchaBackgroundProducers=[ \
  "nl.captcha.backgrounds.FlatColorBackgroundProducer", \
  "nl.captcha.backgrounds.GradiatedBackgroundProducer", \
  "nl.captcha.backgrounds.SquigglesBackgroundProducer", \
  "nl.captcha.backgrounds.TransparentBackgroundProducer", \
  ]
simpleCaptchaGimpyRenderers=[ \
  "com.liferay.captcha.simplecaptcha.gimpy.BlockGimpyRenderer", \
  "nl.captcha.gimpy.FishEyeGimpyRenderer", \
  "nl.captcha.gimpy.ShearGimpyRenderer", \
  ]
simpleCaptchaHeight=I"50"
simpleCaptchaNoiseProducers=[ \
  "nl.captcha.noise.CurvedLineNoiseProducer", \
  "nl.captcha.noise.StraightLineNoiseProducer", \
  ]
simpleCaptchaTextProducers=[ \
  "com.liferay.captcha.simplecaptcha.DictionaryWordTextProducer", \
  "com.liferay.captcha.simplecaptcha.PinNumberTextProducer", \
  "nl.captcha.text.producer.DefaultTextProducer", \
  "nl.captcha.text.producer.FiveLetterFirstNameTextProducer", \
  ]
simpleCaptchaWidth=I"150"
simpleCaptchaWordRenderers=[ \
  "nl.captcha.text.renderer.DefaultWordRenderer", \
  ]
